########################################
# C / C++
########################################
*.o
*.obj
*.exe
*.out
*.app
a.out
app
app.exe

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
compile_commands.json

########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.pytest_cache/
pip-wheel-metadata/
*.egg-info/
dist/
build/
